livres.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.bibliotheque.com/livres-ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bibliotheque.com/livres-ws" targetNamespace="http://www.bibliotheque.com/livres-ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.bibliotheque.com/livres-ws">


    <!-- ==== STATUT ==== -->

    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================= -->
    <!-- ==== SERVICES LIVRE ===== -->
    <!-- ========================= -->

    <!-- ==== LIVRE TYPE ==== -->

    <xs:complexType name="livreType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="titre" type="xs:string"/>
            <xs:element name="auteur" type="xs:string"/>
            <xs:element name="genre" type="xs:string"/>
            <xs:element name="date_publication" type="xs:date"/>
            <xs:element name="resume" type="xs:string"/>
            <xs:element name="url_photo" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="listeExemplaires" type="tns:exemplaireType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET LIVRE BY ID ==== -->

    <xs:element name="getLivreByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLivreByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ==== GET ALL LIVRES ==== -->

    <xs:element name="getAllLivresRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllLivresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL LIVRES EMPRUNTES ==== -->

    <xs:element name="getAllLivresEmpruntesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAllLivresEmpruntesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== ADD LIVRE ==== -->

    <xs:element name="addLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE LIVRE ==== -->

    <xs:element name="updateLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE LIVRE ==== -->

    <xs:element name="deleteLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========================= -->
    <!-- == SERVICES EXEMPLAIRE == -->
    <!-- ========================= -->

    <!-- ==== TYPE EXEMPLAIRE ==== -->

    <xs:complexType name="exemplaireType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="disponibilite" type="xs:boolean"/>
            <xs:element name="livreid" type="xs:int"/>
            <xs:element name="livre" type="tns:livreType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="listeEmprunts" type="tns:empruntType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET EXEMPLAIRE BY ID ==== -->

    <xs:element name="getExemplaireByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getExemplaireByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL EXEMPLAIRES ==== -->

    <xs:element name="getAllExemplairesRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllExemplairesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="exemplaireType" type="tns:exemplaireType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL EXEMPLAIRES AND EMPRUNTS ==== -->

    <xs:element name="getAllExemplairesAndEmpruntsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllExemplairesAndEmpruntsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="exemplaireType" type="tns:exemplaireType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== ADD EXEMPLAIRE ==== -->

    <xs:element name="addExemplaireRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addExemplaireResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="exemplaireType" type="tns:exemplaireType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EXEMPLAIRE ==== -->

    <xs:element name="updateExemplaireRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateExemplaireResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE EXEMPLAIRE ==== -->

    <xs:element name="deleteExemplaireRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteExemplaireResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ========================= -->
    <!-- ==== SERVICES MEMBRE===== -->
    <!-- ========================= -->

    <!-- ==== TYPE MEMBRE ==== -->

    <xs:complexType name="membreType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="adresse_mail" type="xs:string"/>
            <xs:element name="mot_de_passe" type="xs:string"/>
            <xs:element name="telephone" type="xs:string"/>
            <xs:element name="adresse" type="xs:string"/>
            <xs:element name="code_postal" type="xs:string"/>
            <xs:element name="ville" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="listeEmprunts" type="tns:empruntType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET MEMBRE BY ID ==== -->

    <xs:element name="getMembreByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMembreByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== GET ALL MEMBRES ==== -->

    <xs:element name="getAllMembresRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllMembresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="membreType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== ADD MEMBRE ==== -->

    <xs:element name="addMembreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addMembreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="membreType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE MEMBRE ==== -->

    <xs:element name="updateMembreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateMembreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE MEMBRE ==== -->

    <xs:element name="deleteMembreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteMembreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ========================= -->
    <!-- ==== SERVICES EMPRUNT ===== -->
    <!-- ========================= -->

    <!-- ==== EMPRUNT TYPE ==== -->

    <xs:complexType name="empruntType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="date_debut" type="xs:date"/>
            <xs:element name="date_fin" type="xs:date"/>
            <xs:element name="prolongation" type="xs:boolean"/>
            <xs:element name="relance" type="xs:boolean"/>
            <xs:element name="termine" type="xs:boolean"/>
            <xs:element name="membreid" type="xs:int"/>
            <xs:element name="membreEntity" type="tns:membreType"/>
            <xs:element name="exemplaireid" type="xs:int"/>
            <xs:element name="exemplaireEntity" type="tns:exemplaireType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET EMPRUNT BY ID ==== -->
    <xs:element name="getEmpruntByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getEmpruntByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL EMPRUNT ==== -->
    <xs:element name="getAllEmpruntRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== GET ALL EMPRUNTS WHERE DATE FIN IS BEFORE DATE TODAY ==== -->
    <xs:element name="getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ==== ADD EMPRUNT ==== -->
    <xs:element name="addEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EMPRUNT ==== -->
    <xs:element name="updateEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EMPRUNT ==== -->
    <xs:element name="updateRelanceEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateRelanceEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EMPRUNT ==== -->
    <xs:element name="updateEmpruntTermineRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateEmpruntTermineResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE EMPRUNT ==== -->
    <xs:element name="deleteEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ========================= -->
    <!-- ==== SERVICES LOGIN ===== -->
    <!-- ========================= -->

    <!-- ==== GET COMPTE BY MAIL AND PASSWORD FOR LOGIN ==== -->
    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="adresseMail" type="xs:string"/>
                <xs:element name="motDePasse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="compteType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET COMPTE AFTER LOGIN SUCCESS ==== -->
    <xs:element name="getCompteAfterLoginSuccessRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="adresseMail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCompteAfterLoginSuccessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="compteType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== SEARCH ==== -->

    <xs:element name="getSearchByKeywordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="keyword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSearchByKeywordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateEmpruntTermineRequest">
    <wsdl:part element="tns:updateEmpruntTermineRequest" name="updateEmpruntTermineRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllMembresRequest">
    <wsdl:part element="tns:getAllMembresRequest" name="getAllMembresRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="tns:loginResponse" name="loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLivreRequest">
    <wsdl:part element="tns:deleteLivreRequest" name="deleteLivreRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateExemplaireRequest">
    <wsdl:part element="tns:updateExemplaireRequest" name="updateExemplaireRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLivreResponse">
    <wsdl:part element="tns:deleteLivreResponse" name="deleteLivreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLivresRequest">
    <wsdl:part element="tns:getAllLivresRequest" name="getAllLivresRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchByKeywordRequest">
    <wsdl:part element="tns:getSearchByKeywordRequest" name="getSearchByKeywordRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addExemplaireRequest">
    <wsdl:part element="tns:addExemplaireRequest" name="addExemplaireRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompteAfterLoginSuccessResponse">
    <wsdl:part element="tns:getCompteAfterLoginSuccessResponse" name="getCompteAfterLoginSuccessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllMembresResponse">
    <wsdl:part element="tns:getAllMembresResponse" name="getAllMembresResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmpruntRequest">
    <wsdl:part element="tns:addEmpruntRequest" name="addEmpruntRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMembreResponse">
    <wsdl:part element="tns:deleteMembreResponse" name="deleteMembreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRelanceEmpruntRequest">
    <wsdl:part element="tns:updateRelanceEmpruntRequest" name="updateRelanceEmpruntRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllExemplairesAndEmpruntsRequest">
    <wsdl:part element="tns:getAllExemplairesAndEmpruntsRequest" name="getAllExemplairesAndEmpruntsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRelanceEmpruntResponse">
    <wsdl:part element="tns:updateRelanceEmpruntResponse" name="updateRelanceEmpruntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteExemplaireResponse">
    <wsdl:part element="tns:deleteExemplaireResponse" name="deleteExemplaireResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmpruntByIdRequest">
    <wsdl:part element="tns:getEmpruntByIdRequest" name="getEmpruntByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmpruntRequest">
    <wsdl:part element="tns:deleteEmpruntRequest" name="deleteEmpruntRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllExemplairesRequest">
    <wsdl:part element="tns:getAllExemplairesRequest" name="getAllExemplairesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchByKeywordResponse">
    <wsdl:part element="tns:getSearchByKeywordResponse" name="getSearchByKeywordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllExemplairesResponse">
    <wsdl:part element="tns:getAllExemplairesResponse" name="getAllExemplairesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLivreByIdRequest">
    <wsdl:part element="tns:getLivreByIdRequest" name="getLivreByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addLivreRequest">
    <wsdl:part element="tns:addLivreRequest" name="addLivreRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLivreResponse">
    <wsdl:part element="tns:updateLivreResponse" name="updateLivreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMembreRequest">
    <wsdl:part element="tns:updateMembreRequest" name="updateMembreRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addMembreResponse">
    <wsdl:part element="tns:addMembreResponse" name="addMembreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMembreByIdRequest">
    <wsdl:part element="tns:getMembreByIdRequest" name="getMembreByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part element="tns:loginRequest" name="loginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmpruntResponse">
    <wsdl:part element="tns:getAllEmpruntResponse" name="getAllEmpruntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExemplaireByIdResponse">
    <wsdl:part element="tns:getExemplaireByIdResponse" name="getExemplaireByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateExemplaireResponse">
    <wsdl:part element="tns:updateExemplaireResponse" name="updateExemplaireResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllExemplairesAndEmpruntsResponse">
    <wsdl:part element="tns:getAllExemplairesAndEmpruntsResponse" name="getAllExemplairesAndEmpruntsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmpruntResponse">
    <wsdl:part element="tns:deleteEmpruntResponse" name="deleteEmpruntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLivresEmpruntesResponse">
    <wsdl:part element="tns:getAllLivresEmpruntesResponse" name="getAllLivresEmpruntesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMembreRequest">
    <wsdl:part element="tns:deleteMembreRequest" name="deleteMembreRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse">
    <wsdl:part element="tns:getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse" name="getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmpruntRequest">
    <wsdl:part element="tns:updateEmpruntRequest" name="updateEmpruntRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMembreResponse">
    <wsdl:part element="tns:updateMembreResponse" name="updateMembreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest">
    <wsdl:part element="tns:getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest" name="getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmpruntByIdResponse">
    <wsdl:part element="tns:getEmpruntByIdResponse" name="getEmpruntByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteExemplaireRequest">
    <wsdl:part element="tns:deleteExemplaireRequest" name="deleteExemplaireRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompteAfterLoginSuccessRequest">
    <wsdl:part element="tns:getCompteAfterLoginSuccessRequest" name="getCompteAfterLoginSuccessRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addExemplaireResponse">
    <wsdl:part element="tns:addExemplaireResponse" name="addExemplaireResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLivreByIdResponse">
    <wsdl:part element="tns:getLivreByIdResponse" name="getLivreByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLivreRequest">
    <wsdl:part element="tns:updateLivreRequest" name="updateLivreRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMembreByIdResponse">
    <wsdl:part element="tns:getMembreByIdResponse" name="getMembreByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addLivreResponse">
    <wsdl:part element="tns:addLivreResponse" name="addLivreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExemplaireByIdRequest">
    <wsdl:part element="tns:getExemplaireByIdRequest" name="getExemplaireByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmpruntRequest">
    <wsdl:part element="tns:getAllEmpruntRequest" name="getAllEmpruntRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addMembreRequest">
    <wsdl:part element="tns:addMembreRequest" name="addMembreRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmpruntResponse">
    <wsdl:part element="tns:updateEmpruntResponse" name="updateEmpruntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLivresEmpruntesRequest">
    <wsdl:part element="tns:getAllLivresEmpruntesRequest" name="getAllLivresEmpruntesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmpruntResponse">
    <wsdl:part element="tns:addEmpruntResponse" name="addEmpruntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmpruntTermineResponse">
    <wsdl:part element="tns:updateEmpruntTermineResponse" name="updateEmpruntTermineResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLivresResponse">
    <wsdl:part element="tns:getAllLivresResponse" name="getAllLivresResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LivresPort">
    <wsdl:operation name="updateEmpruntTermine">
      <wsdl:input message="tns:updateEmpruntTermineRequest" name="updateEmpruntTermineRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateEmpruntTermineResponse" name="updateEmpruntTermineResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMembres">
      <wsdl:input message="tns:getAllMembresRequest" name="getAllMembresRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllMembresResponse" name="getAllMembresResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" name="loginRequest">
    </wsdl:input>
      <wsdl:output message="tns:loginResponse" name="loginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLivre">
      <wsdl:input message="tns:deleteLivreRequest" name="deleteLivreRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteLivreResponse" name="deleteLivreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExemplaire">
      <wsdl:input message="tns:updateExemplaireRequest" name="updateExemplaireRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateExemplaireResponse" name="updateExemplaireResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLivres">
      <wsdl:input message="tns:getAllLivresRequest" name="getAllLivresRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllLivresResponse" name="getAllLivresResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSearchByKeyword">
      <wsdl:input message="tns:getSearchByKeywordRequest" name="getSearchByKeywordRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSearchByKeywordResponse" name="getSearchByKeywordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addExemplaire">
      <wsdl:input message="tns:addExemplaireRequest" name="addExemplaireRequest">
    </wsdl:input>
      <wsdl:output message="tns:addExemplaireResponse" name="addExemplaireResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompteAfterLoginSuccess">
      <wsdl:input message="tns:getCompteAfterLoginSuccessRequest" name="getCompteAfterLoginSuccessRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCompteAfterLoginSuccessResponse" name="getCompteAfterLoginSuccessResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmprunt">
      <wsdl:input message="tns:addEmpruntRequest" name="addEmpruntRequest">
    </wsdl:input>
      <wsdl:output message="tns:addEmpruntResponse" name="addEmpruntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMembre">
      <wsdl:input message="tns:deleteMembreRequest" name="deleteMembreRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteMembreResponse" name="deleteMembreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRelanceEmprunt">
      <wsdl:input message="tns:updateRelanceEmpruntRequest" name="updateRelanceEmpruntRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateRelanceEmpruntResponse" name="updateRelanceEmpruntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllExemplairesAndEmprunts">
      <wsdl:input message="tns:getAllExemplairesAndEmpruntsRequest" name="getAllExemplairesAndEmpruntsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllExemplairesAndEmpruntsResponse" name="getAllExemplairesAndEmpruntsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteExemplaire">
      <wsdl:input message="tns:deleteExemplaireRequest" name="deleteExemplaireRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteExemplaireResponse" name="deleteExemplaireResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpruntById">
      <wsdl:input message="tns:getEmpruntByIdRequest" name="getEmpruntByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getEmpruntByIdResponse" name="getEmpruntByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmprunt">
      <wsdl:input message="tns:deleteEmpruntRequest" name="deleteEmpruntRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteEmpruntResponse" name="deleteEmpruntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllExemplaires">
      <wsdl:input message="tns:getAllExemplairesRequest" name="getAllExemplairesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllExemplairesResponse" name="getAllExemplairesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLivreById">
      <wsdl:input message="tns:getLivreByIdRequest" name="getLivreByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getLivreByIdResponse" name="getLivreByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLivre">
      <wsdl:input message="tns:addLivreRequest" name="addLivreRequest">
    </wsdl:input>
      <wsdl:output message="tns:addLivreResponse" name="addLivreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLivre">
      <wsdl:input message="tns:updateLivreRequest" name="updateLivreRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateLivreResponse" name="updateLivreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMembre">
      <wsdl:input message="tns:updateMembreRequest" name="updateMembreRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateMembreResponse" name="updateMembreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMembre">
      <wsdl:input message="tns:addMembreRequest" name="addMembreRequest">
    </wsdl:input>
      <wsdl:output message="tns:addMembreResponse" name="addMembreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembreById">
      <wsdl:input message="tns:getMembreByIdRequest" name="getMembreByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMembreByIdResponse" name="getMembreByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmprunt">
      <wsdl:input message="tns:getAllEmpruntRequest" name="getAllEmpruntRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllEmpruntResponse" name="getAllEmpruntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExemplaireById">
      <wsdl:input message="tns:getExemplaireByIdRequest" name="getExemplaireByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getExemplaireByIdResponse" name="getExemplaireByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLivresEmpruntes">
      <wsdl:input message="tns:getAllLivresEmpruntesRequest" name="getAllLivresEmpruntesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllLivresEmpruntesResponse" name="getAllLivresEmpruntesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmpruntsWhereDateFinIsBeforeDateToday">
      <wsdl:input message="tns:getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest" name="getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse" name="getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmprunt">
      <wsdl:input message="tns:updateEmpruntRequest" name="updateEmpruntRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateEmpruntResponse" name="updateEmpruntResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LivresPortSoap11" type="tns:LivresPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateEmpruntTermine">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateEmpruntTermineRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEmpruntTermineResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMembres">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllMembresRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllMembresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction=""/>
      <wsdl:input name="loginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLivre">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteLivreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteLivreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExemplaire">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateExemplaireRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateExemplaireResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLivres">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllLivresRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllLivresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSearchByKeyword">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSearchByKeywordRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchByKeywordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addExemplaire">
      <soap:operation soapAction=""/>
      <wsdl:input name="addExemplaireRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addExemplaireResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompteAfterLoginSuccess">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCompteAfterLoginSuccessRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompteAfterLoginSuccessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmprunt">
      <soap:operation soapAction=""/>
      <wsdl:input name="addEmpruntRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmpruntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMembre">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteMembreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteMembreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRelanceEmprunt">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateRelanceEmpruntRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateRelanceEmpruntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllExemplairesAndEmprunts">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllExemplairesAndEmpruntsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllExemplairesAndEmpruntsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteExemplaire">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteExemplaireRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteExemplaireResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmpruntById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getEmpruntByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmpruntByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmprunt">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteEmpruntRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEmpruntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllExemplaires">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllExemplairesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllExemplairesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLivreById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getLivreByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLivreByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLivre">
      <soap:operation soapAction=""/>
      <wsdl:input name="addLivreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addLivreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLivre">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateLivreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateLivreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMembre">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateMembreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateMembreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMembre">
      <soap:operation soapAction=""/>
      <wsdl:input name="addMembreRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addMembreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembreById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMembreByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMembreByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmprunt">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllEmpruntRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllEmpruntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExemplaireById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getExemplaireByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getExemplaireByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLivresEmpruntes">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllLivresEmpruntesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllLivresEmpruntesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmpruntsWhereDateFinIsBeforeDateToday">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmprunt">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateEmpruntRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEmpruntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivresPortService">
    <wsdl:port binding="tns:LivresPortSoap11" name="LivresPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>