bibliotheque/src/main/resources/xsd/livres.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.bibliotheque.com/livres-ws"
           targetNamespace="http://www.bibliotheque.com/livres-ws"
           elementFormDefault="qualified">


    <!-- ==== STATUT ==== -->

    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================= -->
    <!-- ==== SERVICES LIVRE ===== -->
    <!-- ========================= -->

    <!-- ==== LIVRE TYPE ==== -->

    <xs:complexType name="livreType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="titre" type="xs:string" />
            <xs:element name="auteur" type="xs:string" />
            <xs:element name="genre" type="xs:string" />
            <xs:element name="date_publication" type="xs:date" />
            <xs:element name="resume" type="xs:string" />
            <xs:element name="url_photo" type="xs:string" />
            <xs:element name="listeExemplaires" type="tns:exemplaireType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET LIVRE BY ID ==== -->

    <xs:element name="getLivreByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLivreByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ==== GET ALL LIVRES ==== -->

    <xs:element name="getAllLivresRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllLivresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL LIVRES EMPRUNTES ==== -->

    <xs:element name="getAllLivresEmpruntesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAllLivresEmpruntesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== ADD LIVRE ==== -->

    <xs:element name="addLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="livreType" type="tns:livreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE LIVRE ==== -->

    <xs:element name="updateLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE LIVRE ==== -->

    <xs:element name="deleteLivreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteLivreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========================= -->
    <!-- == SERVICES EXEMPLAIRE == -->
    <!-- ========================= -->

    <!-- ==== TYPE EXEMPLAIRE ==== -->

    <xs:complexType name="exemplaireType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="disponibilite" type="xs:boolean" />
            <xs:element name="livreid" type="xs:int" />
            <xs:element name="livre" type="tns:livreType"/>
            <xs:element name="listeEmprunts" type="tns:empruntType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET EXEMPLAIRE BY ID ==== -->

    <xs:element name="getExemplaireByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getExemplaireByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL EXEMPLAIRES ==== -->

    <xs:element name="getAllExemplairesRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllExemplairesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL EXEMPLAIRES AND EMPRUNTS ==== -->

    <xs:element name="getAllExemplairesAndEmpruntsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllExemplairesAndEmpruntsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== ADD EXEMPLAIRE ==== -->

    <xs:element name="addExemplaireRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addExemplaireResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="exemplaireType" type="tns:exemplaireType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EXEMPLAIRE ==== -->

    <xs:element name="updateExemplaireRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exemplaireType" type="tns:exemplaireType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateExemplaireResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE EXEMPLAIRE ==== -->

    <xs:element name="deleteExemplaireRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteExemplaireResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ========================= -->
    <!-- ==== SERVICES MEMBRE===== -->
    <!-- ========================= -->

    <!-- ==== TYPE MEMBRE ==== -->

    <xs:complexType name="membreType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="nom" type="xs:string" />
            <xs:element name="prenom" type="xs:string" />
            <xs:element name="adresse_mail" type="xs:string" />
            <xs:element name="mot_de_passe" type="xs:string" />
            <xs:element name="telephone" type="xs:string" />
            <xs:element name="adresse" type="xs:string" />
            <xs:element name="code_postal" type="xs:string" />
            <xs:element name="ville" type="xs:string" />
            <xs:element name="listeEmprunts" type="tns:empruntType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET MEMBRE BY ID ==== -->

    <xs:element name="getMembreByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMembreByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== GET ALL MEMBRES ==== -->

    <xs:element name="getAllMembresRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllMembresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== ADD MEMBRE ==== -->

    <xs:element name="addMembreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addMembreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="membreType" type="tns:membreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE MEMBRE ==== -->

    <xs:element name="updateMembreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="membreType" type="tns:membreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateMembreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE MEMBRE ==== -->

    <xs:element name="deleteMembreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteMembreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ========================= -->
    <!-- ==== SERVICES EMPRUNT ===== -->
    <!-- ========================= -->

    <!-- ==== EMPRUNT TYPE ==== -->

    <xs:complexType name="empruntType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="date_debut" type="xs:date" />
            <xs:element name="date_fin" type="xs:date" />
            <xs:element name="prolongation" type="xs:boolean" />
            <xs:element name="relance" type="xs:boolean" />
            <xs:element name="termine" type="xs:boolean" />
            <xs:element name="membreid" type="xs:int" />
            <xs:element name="membreEntity" type="tns:membreType" />
            <xs:element name="exemplaireid" type="xs:int" />
            <xs:element name="exemplaireEntity" type="tns:exemplaireType" />
        </xs:sequence>
    </xs:complexType>

    <!-- ==== GET EMPRUNT BY ID ==== -->
    <xs:element name="getEmpruntByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getEmpruntByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET ALL EMPRUNT ==== -->
    <xs:element name="getAllEmpruntRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- ==== GET ALL EMPRUNTS WHERE DATE FIN IS BEFORE DATE TODAY ==== -->
    <xs:element name="getAllEmpruntsWhereDateFinIsBeforeDateTodayRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllEmpruntsWhereDateFinIsBeforeDateTodayResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ==== ADD EMPRUNT ==== -->
    <xs:element name="addEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EMPRUNT ==== -->
    <xs:element name="updateEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EMPRUNT ==== -->
    <xs:element name="updateRelanceEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateRelanceEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== UPDATE EMPRUNT ==== -->
    <xs:element name="updateEmpruntTermineRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntType" type="tns:empruntType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateEmpruntTermineResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== DELETE EMPRUNT ==== -->
    <xs:element name="deleteEmpruntRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empruntId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteEmpruntResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ========================= -->
    <!-- ==== SERVICES LOGIN ===== -->
    <!-- ========================= -->

    <!-- ==== GET COMPTE BY MAIL AND PASSWORD FOR LOGIN ==== -->
    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="adresseMail" type="xs:string"/>
                <xs:element name="motDePasse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="compteType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== GET COMPTE AFTER LOGIN SUCCESS ==== -->
    <xs:element name="getCompteAfterLoginSuccessRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="adresseMail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCompteAfterLoginSuccessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="compteType" type="tns:membreType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==== SEARCH ==== -->

    <xs:element name="getSearchByKeywordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="keyword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSearchByKeywordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livreType" type="tns:livreType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>